body {
	color:#333;
	color: #565656;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 50px;
}

a {
	color: #770000;
	text-decoration: none
}

pre {
	border: 1px solid #cecece;
	padding: 1em ;
	margin: 1em ;
	white-space: pre-wrap;
	background: #EEEEEE;
}
